{% extends 'shop/partials/base.html' %}

{% block title %}
ارسال ایمیل بازیابی گذرواژه
{% endblock %}

{% block content %}
<div class="row">
    <div style="width: 80% ; margin: 6rem auto; margin-bottom: 50">
        <div class="login-form"><!--login form-->
            <h2>ورود به حساب کاربـری :</h2>
            <div class="mb-3" style="margin-bottom: 30px !important">
                <form method="post">
                    {% csrf_token %}

                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">

                        {% for error in form.email.errors %}
                            <p style="color: red; font-family: 'Sahel'">{{ error }}</p>
                        {% endfor %}


                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
            

                    <div class="col-sm-3" style="display: block; width: 100%">
                        <button type="submit" class="btn btn-default mx-auto" style="width: 15%">ارسال</button>
                    </div>

                </form>
            </div>
        </div><!--/login form-->
    </div>
</div>
{% endblock %}