{% extends 'shop/partials/base.html' %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}
<div class="row">
    <div style="width: 80% ; margin: 6rem auto; margin-bottom: 50">
        <div class="login-form"><!--login form-->
            <h2>ورود به حساب کاربـری :</h2>
            <form method="post">
                {% csrf_token %}
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    
                    {% for error in form.old_password.errors %}
                        <p style="color: red; font-family: 'Sahel'">{{ error }}</p>
                    {% endfor %}


                    <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                    {{ form.old_password }}
                </div>

    <!-- --------------------------------------------------------- -->
                <div class="col-sm-6">
                    {% for error in form.new_password2.errors %}
                        <p style="color: red; font-family: 'Sahel'">{{ error }}</p>
                    {% endfor %}


                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}

                </div>
<!-- --------------------------------------------------------- -->


                <div class="col-sm-6">
                    {% for error in form.new_password1.errors %}
                        <p style="color: red; font-family: 'Sahel'">{{ error }}</p>
                    {% endfor %}


                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}

                    
                    <p style="color: #333; opacity: 0.5">{{ form.new_password1.help_text|safe }}</p>
                </div>

                <div class="col-sm-3" style="display: block; width: 100%">
                    <button type="submit" class="btn btn-default mx-auto" style="width: 15%">تغییر رمز عبور</button>
                </div>
            </form>
        </div><!--/login form-->
    </div>
</div>
{% endblock %}