{% extends 'shop/partials/base.html' %}
{% load static %}

{% block title %}
درباره ی ما
{% endblock %}

{% block content %}
<div id="contact-page" class="container">
	<div class="bg">
    	<div class="row">
			<div class="container">
    			<div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">    			   			
					<h2 class="title text-center">تمـاس با مـا</h2>    			    						<div id="gmap" class="contact-map">
							<img src="{% static 'eshop/images/home/Map.jpg' %}" alt="Map"/>
						</div>
				</div>
			</div>
			</div>    	
		<div class="row">  	
    		<div class="col-sm-8">
    			<div class="contact-form">
    				<h2 class="title text-center">با ما در ارتباط باشیـد</h2>
    				<div class="status alert alert-success" style="display: none"></div>
			    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        {% csrf_token %}
			            <div class="form-group col-md-6">
			                {{ contact_form.name }}
			            </div>
			            <div class="form-group col-md-6">
			                {{ contact_form.email }}
			            </div>
			            <div class="form-group col-md-12">
			                {{ contact_form.subject }}
			            </div>
			            <div class="form-group col-md-12">
			                {{ contact_form.text }}
			            </div>                        
			            <div class="form-group col-md-12">
			                <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">
			            </div>
			        </form>
    			</div>
    		</div>
    		<div class="col-sm-4">
    			<div class="contact-info">
    				<h2 class="title text-center">اطلاعات تماس</h2>
    				<address>
    					<p>گـروه تکنوگـرافی 1614</p>
						<p>ایـران - آذربایجـان غربـی - خـوی</p>
						<p>مجتـمع تجـاری تفریحـی شمس - طبـقه 2 - پلاک 54</p>
						<p>تلفن تماس : 80 21 24 36 044</p>
						<p>فکس : 80 21 24 36 044</p>
						<p style="font-family: tahoma;">ایمیـل : info@1614GP.ir</p>
    				</address>
    			</div>
			</div>    			
    	</div>  
	</div>	
</div><!--/#contact-page-->
{% endblock %}