{% extends 'shop/partials/base.html' %}
{% load static %}
{% load render_partial %}

{% block style %}
<style type="text/css" media="screen">
	#aks{
		height: 260.5px;
		width: 260.5px;
	}
</style>

{% endblock %}  


{% block title %}
فروشگاه
{% endblock %}

{% block content %}
{% render_partial 'shop:sliders' %}
<section>
	<div class="container">
		<div class="row">
			
			<div class="recommended_items"><!--NewProduct_items-->
					<h2 class="title text-center">پر فروش ترین محصولات</h2>
					
					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">

								{% for p in object_list %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="{% url 'shop:detail' p.slug %}" target="_blank">
													<img src="{{ p.image.url }}" alt="{{ p.title }}" id="aks" />
												</a>
												<h2>{{ p.price }}</h2>
												<p>{{ p.title }}</p>
												<p>{{ p.description|truncatewords:10 }}</p>
												{% for c in p.category.all %}
													<a href="{% url 'shop:category' c.slug %}">#{{c.title}}</a>
												{% endfor %}
												
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
											</div>
											
										</div>
									</div>
								</div>
								{% endfor %}

						</div>	
					</div>
				</div><!--/NewProduct_items-->
				
				<div class="category-tab"><!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#Tab_001" data-toggle="tab">گـروه محصولات 1</a></li>
							<li><a href="#Tab_002" data-toggle="tab">گـروه محصولات 2</a></li>
							<li><a href="#Tab_003" data-toggle="tab">گـروه محصولات 3</a></li>
							<li><a href="#Tab_004" data-toggle="tab">گـروه محصولات 4</a></li>
							<li><a href="#Tab_005" data-toggle="tab">گـروه محصولات 5</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="Tab_001" >
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="Tab_002" >
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="Tab_003" >
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="Tab_004" >
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="Tab_005" >
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'eshop/images/home/Tabs.png' %}" alt="" />
											<h2>560.000 ريال</h2>
											<p>توضیحات کوتاه محصول</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/category-tab-->
				
			</div>
			
		</div>			
	</div>
</section>

{% endblock %}

{% block scripts %}

<script src="{% static 'eshop/js/mychange.js' %}"></script>

{% endblock %}