{% load static %}
{% load render_partial %}

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        {% for sl in slider %}
                        
                        <div class="myslide item {{ forloop.first|yesno:'active,' }}">
                            <div class="col-sm-6">
                                <h1><span>Mobile</span>CENTER</h1>
                                <h2>{{ sl.title }}</h2>
                                <a href="{% url 'shop:detail' sl.slug %}" type="button" class="btn btn-default get">بیشتر</a>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ sl.image.url }}" class="girl img-responsive" alt="" height="500px" width="500px" />
                                <!-- <img src="{% static 'eshop/images/home/pricing.png' %}"  class="pricing" alt="" /> -->
                            </div>
                        </div>
                        {% endfor %}
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->
<script>
    let x = document.querySelectorAll('.myslide');
    document.getElementsByClassName('fa-angle-right')[0].addEventListener('click', e => {
    if (x[x.length - 1].classList.contains('active')){
        x[x.length - 1].classList.remove('active');
        x[0].classList.add('active');
    }
    console.log(x[x.length - 1]);
});
</script>